body {
  margin: 0px;
  width: 200;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.vanligTekst {
  max-width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  }

.bgcolor-blue {
  background-color: blue;
}

h2 {
  color: blue;
}


